In [1]:
1+1

2

In [2]:
10**2

100

In [3]:
10*2

20

In [4]:
10 * 'sonal'

'sonalsonalsonalsonalsonalsonalsonalsonalsonalsonal'

Checking Data Types

In [6]:
type(1)

int

In [7]:
type('Sonal')

str

In [8]:
type(17.9)

float

In [9]:
type(True)

bool

In [10]:
"Sonal Mittal"

'Sonal Mittal'

Variable Assignment

In [12]:
a =10
type(a)

int

In [15]:
a = 10
b = 20

In [16]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

30
-10
200
0.5
10

In [17]:
print("sonal")

sonal

In [20]:
first = 'sonal'
last = "mittal"
print("My first name is {} and my last name is {}".format(first,last))
print("My first name is {last} and my last name is {first}".format(first = first,last=last))

My first name is sonal and my last name is mittal
My first name is mittal and my last name is sonal

In [21]:
len('Sonal Mittal')

12