In [1]:
type([])

list

In [13]:
lst = ['Maths','English',12,88]
lst

['Maths', 'English', 12, 88]

In [14]:
type(lst)

list

In [15]:
len(lst)

4

In [16]:
lst.append("Sonal") # add the object at the end of the list

In [17]:
lst

['Maths', 'English', 12, 88, 'Sonal']

In [18]:
lst.insert(3,'hello') # insert the word on the given index
lst

['Maths', 'English', 12, 'hello', 88, 'Sonal']

In [19]:
lst[4]

88

In [20]:
lst[1:5]

['English', 12, 'hello', 88]

In [21]:
lst[2:]

[12, 'hello', 88, 'Sonal']

In [23]:
lst.append(['sundar','samaj'])
lst

['Maths', 'English', 12, 'hello', 88, 'Sonal', ['sundar', 'samaj']]

In [24]:
lst.insert(6,'Mittal')
lst

['Maths', 'English', 12, 'hello', 88, 'Sonal', 'Mittal', ['sundar', 'samaj']]

In [25]:
lst.extend(['hehe','byebye'])
lst

['Maths',
 'English',
 12,
 'hello',
 88,
 'Sonal',
 'Mittal',
 ['sundar', 'samaj'],
 'hehe',
 'byebye']

In [26]:
add=[1,65,7,3,99,56,3]
sum(add)

234

In [27]:
lst.pop()

'byebye'

In [28]:
lst

['Maths',
 'English',
 12,
 'hello',
 88,
 'Sonal',
 'Mittal',
 ['sundar', 'samaj'],
 'hehe']

In [29]:
lst.pop()

'hehe'

In [30]:
lst.pop()

['sundar', 'samaj']

In [40]:
lst

['Maths', 'English', 12, 'hello', 88, 'Sonal', 'Mittal', 12, 12, 12, 12]

In [46]:
lst.pop()

'Mittal'

In [48]:
lst.append(12)
lst

['Maths', 'English', 12, 'hello', 88, 'Sonal', 12, 12]

In [49]:
lst.count(12)

3

In [50]:
len(lst)

8

In [52]:
min(add)

1

In [53]:
max(add)

99

In [54]:
lst*2

['Maths',
 'English',
 12,
 'hello',
 88,
 'Sonal',
 12,
 12,
 'Maths',
 'English',
 12,
 'hello',
 88,
 'Sonal',
 12,
 12]

In [55]:
add * 2

[1, 65, 7, 3, 99, 56, 3, 1, 65, 7, 3, 99, 56, 3]